*{
  font: 10px/1 'Fira Sans';
  margin: 0;
  padding: 0;
  line-height:1;
  font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
}
body{
  background:#EFEFEF;
}
a{
  cursor: pointer;
}

.avatar-img{
  background: transparent url('../img/avatar.jpg') 0 0 no-repeat; background-size: contain;
  width: 160px; height:160px;
  border-radius: 80px;
  box-shadow: 3px 5px 7px rgba(0,0,0,.35);
  margin: 0 auto;
  margin-top: 20vh;
}

.main-nav{
  text-align: center;
  margin-top: 6vh;
  vertical-align: bottom;
}
.main-nav a{
  display:inline-block;
  vertical-align: bottom;
  background-color: #333;
  border:1px solid #333;
  text-decoration: none;
  color:#fefefe;
  font-size: 14px;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 6px;
  transition: border-radius 120ms, background-color 250ms, color 250ms;
}
.main-nav a:hover,
.main-nav a.active{
  background-color: #EFEFEF;
  color:#333;
  border-radius: 12px;
}

.content{
  display:none;
  text-align: center;
  margin-top: 4vh;
}
.content.active{
  display:block;
}
.content p{
  font-size: 12px;
  line-height: 1.8em;
  color:#999;
}
.content .bold,
.content a{
  text-decoration: none;
  font-size:12px;
  color:#666;
  font-weight:600;
}

.footer{
  text-align: center;
  margin-top:6vh;
  font-size:10px;
  color: #ccc;
}
