* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font:16px/1 "Open Sans";
  line-height: 1;
  text-align: left;
  font-family:"Open Sans",Arial,Helvetica,sans-serif;
}

body {
  background: rgb(248,248,248);
  background: -moz-linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8",endColorstr="#ffffff",GradientType=1);
  min-height: 100vh;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #333333;
    border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333;
}
input[type=range]:active::-webkit-slider-runnable-track {
    background: #888;
}

main{
  padding:5rem 1.25rem;
  max-width: 60.4375rem;
  margin: 0 auto;
}
.img-compare{
  height:680px;
}

.img-comp-container {
  position: relative;
  height: 480px;
  width: 480px;
  margin: 0 auto;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  width: 480px;
  height: 480px;
  background: transparent url('DishImages/DirtWood.jpg') 0 0 no-repeat;
  background-size: contain;
}
.img-comp-img.img-comp-overlay{
  background: transparent url('DishImages/CleanWood.jpg') 0 0 no-repeat;
  background-size: auto 100%;
  border-right: 4px solid #FFF;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 1;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.compare-range{
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom:-200px;
  border-radius: 50px 50px 0 0;
  left:0;
  background: #FFF;
  padding: 20px 50px;
}
.label{
  width: 49%;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-weight: 300;
}
.label.after{
  text-align: right;
}
.context{
  padding-top:40px;
}
.context h1{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom:20px;
}
.context p{
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}
.img-size{
  width: 100%;
  z-index: 0;
  display: block;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}
