.preload{height: 20px;top: -24px;}

.header{width: 344px;height: 272px;}
.title-heading{ font-size:48px;width:120px;margin:16px; line-height: 50.880001068115234px; }
.heading-details{ width:192px;padding-bottom:16px; }

.regular-content{ font-size:11px;padding:16px 16px 0 16px; }

.contact{ width: 89.59375px; padding: 32px 0;right: -89.59375px; }
.contact li{ margin: 0 0 3.200000047683716px 0; }
.bg-squares img{height:auto; width:100%;}
.contact a{ padding: 6.400000095367432px;font-size: 14px; }
a.minimize-header{ top: -16px;right: 6.400000095367432px;padding: 4.800000190734863px;height: 16px;width: 13px;right: 6.400000095367432px; }

.header.minimized{ width:440px;height: 65.594px; }
.header.minimized .drag-handle{ width: 42px;left: -42px;top: 11.200px;font-size: 22px;padding: 9.808px 0; }
.header.minimized .heading-details{ width:440px;padding-bottom:8px; }
.header.minimized .regular-content{ padding:8px 8px 0 8px; }
.header.minimized .mini-title{ font-size: 16px; }
.header.minimized .regular-content.center img{ width:50px; }
.header.minimized .contact{ height: 65.594px;width: 264px;right: 0;top: 0; }
.header.minimized .contact li{ height: 66px;width: 66px; }
.header.minimized .contact a{ padding: 19.200px 6.400px; font-size: 29px; }
.header.minimized .contact a i.fa{ font-size: 29px; }