/* main */
html,body{background:#e6e7e8;background:rgba(230,231,232,1);color:#231f20}
body{line-height:1;position:relative;font:10px/1 "PT Sans";font-family:"PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; font-size: 1.000em;}

.header{position: absolute;display: block;width: 30.5rem;height: 12.3rem}

h1,h2,h3,h4,h5,h6{font-family: "Domine", Rockwell, serif;font-weight:900}
.title-heading{font-size:2.4rem;padding:1.2rem;background:#231f20;background:rgba(35,31,32,1);width:28rem;color:#fff;z-index:100}
.subtitle-heading{font-size:1.2rem;padding:.7rem;background:#58595b;background:rgba(88,89,91,1);width:8rem;color:#fff;z-index:100}
.heading-details{position:absolute;margin-top:-51px;z-index:-1}
.subtitle-heading:hover + .heading-details{margin-top:0px}
.link-heading{background:#808285;background:rgba(128,130,133,1);font-size:.8rem;color:#EFEFEF;width:8rem;padding:.8rem 0.7rem;z-index:90}
.link-heading a{color:#FFF}

.regular-content{font-size:.7rem;padding:.7rem;width:8rem;background:#a7a9ac;background:rgba(167,169,172,.1);box-shadow:-3px 2px 4px rgba(0,0,0,.3);color:#666}
