.afs-chunkfive { font-family: "ChunkFive", Rockwell, serif;}

.afs-pt-sans { font-family: "PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; font-size: 1.000em;}

.afs-nobile { font-family: "Nobile", "Lucida Grande", "Verdana", "Arial", "Helvetica", "Gill Sans", sans-serif; font-size: 0.876em;}

.afs-ubuntu { font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; font-size: 0.962em;}


@font-face {
font-family: 'ChunkFive';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Chunkfive-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Chunkfive-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Chunkfive-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Chunkfive-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: normal;
}



@font-face {
font-family: 'PT Sans';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS75F-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS75F-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS75F-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS75F-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'PT Sans';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS76F-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS76F-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS76F-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS76F-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'PT Sans';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS56F-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS56F-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS56F-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS56F-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'PT Sans';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS55F-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS55F-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS55F-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/PTS55F-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: normal;
}



@font-face {
font-family: 'Nobile';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'Nobile';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold_italic-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold_italic-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold_italic-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_bold_italic-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'Nobile';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_italic-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_italic-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_italic-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile_italic-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'Nobile';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/nobile-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: normal;
}



@font-face {
font-family: 'Ubuntu';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-B-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-B-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-B-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-B-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'Ubuntu';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-BI-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-BI-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-BI-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-BI-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'Ubuntu';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-I-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-I-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-I-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-I-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'Ubuntu';
src: url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-R-webfont.eot?raw=true');
src: local('☺'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-R-webfont.woff?raw=true') format('woff?raw=true'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-R-webfont.ttf?raw=true') format('truetype'), url('https://github.com/thedorkjedi/thedorkjedi.github.io/blob/master/fonts/Ubuntu-R-webfont.svg#webfontX4pGz9fc?raw=true') format('svg');
font-weight: 400;
font-style: normal;
}
